/* ==========================================================================
   Base
   ========================================================================== */


body {
   font-family: sans;
}



/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 60px; }
body.admin-bar .navbar-fixed-top { top: 28px; }

#banner .teachnova-repeat-header-bg {
   background: #233671 url('/assets/img/header_repeat_bg.png') repeat-x left top;
   height: 100px;
}

#banner .teachnova-header-bg {
   background: url('/assets/img/header_bg.png') no-repeat left top;
   height: 100px;
}

#banner .teachnova-header {
   margin: 20px 0px;
}

#banner a.logo  {
   margin: 0px 25px 20px 0px;
   display: block;
   float: left;
}

#banner a#teachnova-logo.logo{
   background: transparent url('/assets/img/teachnova_header_logo.png') no-repeat top left;
   width: 110px;
   height: 55px;
}

#banner a#cohaerentis-logo.logo{
   background: transparent url('/assets/img/cohaerentis_header_logo.png') no-repeat top left;
   width: 175px;
   height: 55px;
}

#banner .teachnova-langmenu {
   float: right;
}

#banner .teachnova-langmenu li {
   display: inline;
   padding: 0px 4px 0px 4px;
   margin: 0px;
}

#banner .teachnova-langmenu a {
   text-transform:uppercase;
   font-size: 0.8em;
   color: #b2b4c7;
}

#banner .teachnova-langmenu a:hover {
   text-decoration: none;
}

#banner .teachnova-search {
   padding: 0px;
   margin: 10px 0px 0px 0px;
   position: relative;
}

#banner .teachnova-search form {
   margin: 0px;
}

#banner .teachnova-search .teachnova-search-query {
   background: while;
   border: 1px solid #b2b4c7;
   padding: 1px 10px;
   color: #707070;
   width: 200px;
   float: right;
   margin: 0px;
}

#banner .teachnova-search .teachnova-search-button {
   background: transparent url('/assets/img/icon_search.png') no-repeat top left;
   width: 20px;
   height: 20px;
   border: 0px;
   position: absolute;
   top: 5px;
   right: 8px;
   cursor: pointer;
}

#banner .navbar .nav>li>a {
   text-shadow: none;
   padding: 15px;
   text-transform: uppercase;
}

#banner .navbar {
   font-family: sans;
}

#banner .navbar .nav>.active>a,
#banner .navbar .nav>.active>a:hover,
#banner .navbar .nav>.active>a:focus {
   color: #303030;
   background: #transparent;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}

#banner .navbar .navbar-inner {
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   border: 0;
   background: transparent;
}

#banner .navbar .nav-pills>li>a {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   border: 0px;
}

#banner .navbar .nav-pills .dropdown-menu {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
}

@media (max-width: 767px) {
   #banner .teachnova-repeat-header-bg {
      margin-left: -20px;
      margin-right: -20px;
   }

   #banner .teachnova-header-bg .container {
      margin-left: 20px;
      margin-right: 20px;
   }

   #banner a.logo{
      display: none;
   }
}

/* ==========================================================================
   Content
   ========================================================================== */
#wrap {
   margin-top: 20px;
}

#content { }

.mosaic-row {
   margin-bottom: 20px;
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

#main { }

.entry-infografia {
}

.entry-infografia  img {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

.mosaic-item {
   position: relative;
   margin-bottom: 20px;
}

.mosaic-item .entry-title {
   color: #fff;
   text-transform: uppercase;
   font-size: 13px;
   max-height: 54px;
   margin: 20px;
   overflow: hidden;
   /* padding: 0 20px 20px 0; */
   border-bottom: 1px solid #777;
   text-overflow: ellipsis;
}

.mosaic-item .activity-date,
.mosaic-item .teachnova-evento-fecha,
.mosaic-item .teachnova-curso-duracion,
.mosaic-item .teachnova-proyecto-xxx,
.mosaic-item .teachnova-servicio-xxx,
.mosaic-item .teachnova-convocatoria-fecha {
   color: #666;
   position: absolute;
   bottom: 20px;
   left: 20px;
}

article .hide {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   background-color: rgba( 0, 0, 0, 0.9 );
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}


/* ==========================================================================
   Topbar
   ========================================================================== */

/*
#topbar {
   margin-bottom: 20px;
}
*/

/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar {
   margin: 0px 0px 20px 0px;
}

#sidebar .teachnova-follow {
   margin: 0px 0px 30px 0px;
   background: #e4e4e4;
   padding: 4px 0px 0px 0px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: 6px 6px 8px rgba(120, 120, 120, 0.40);
   -moz-box-shadow:    6px 6px 8px rgba(120, 120, 120, 0.40);
   box-shadow:         6px 6px 8px rgba(120, 120, 120, 0.40);
}

#sidebar .teachnova-follow a {
   width: 34px;
   height: 34px;
   display: block;
   float: left;
   padding: 0px 3px 5px 0px;
}

#sidebar .teachnova-follow a.teachnova-follow-facebook {
   background: transparent url('/assets/img/icon_off_facebook.png') no-repeat top left;
}

#sidebar .teachnova-follow a:hover.teachnova-follow-facebook {
   background: transparent url('/assets/img/icon_on_facebook.png') no-repeat top left;
}

#sidebar .teachnova-follow a.teachnova-follow-twitter {
   background: transparent url('/assets/img/icon_off_twitter.png') no-repeat top left;
}

#sidebar .teachnova-follow a:hover.teachnova-follow-twitter {
   background: transparent url('/assets/img/icon_on_twitter.png') no-repeat top left;
}

#sidebar .teachnova-follow a.teachnova-follow-linkedin {
   background: transparent url('/assets/img/icon_off_linkedin.png') no-repeat top left;
}

#sidebar .teachnova-follow a:hover.teachnova-follow-linkedin {
   background: transparent url('/assets/img/icon_on_linkedin.png') no-repeat top left;
}

#sidebar .teachnova-follow a.teachnova-follow-youtube {
   background: transparent url('/assets/img/icon_off_youtube.png') no-repeat top left;
}

#sidebar .teachnova-follow a:hover.teachnova-follow-youtube {
   background: transparent url('/assets/img/icon_on_youtube.png') no-repeat top left;
}

#sidebar .teachnova-follow a.teachnova-follow-slideshare {
   background: transparent url('/assets/img/icon_off_slideshare.png') no-repeat top left;
}

#sidebar .teachnova-follow a:hover.teachnova-follow-slideshare {
   background: transparent url('/assets/img/icon_on_slideshare.png') no-repeat top left;
}

#sidebar .teachnova-follow a.teachnova-follow-flickr {
   background: transparent url('/assets/img/icon_off_flickr.png') no-repeat top left;
}

#sidebar .teachnova-follow a:hover.teachnova-follow-flickr {
   background: transparent url('/assets/img/icon_on_flickr.png') no-repeat top left;
}

#sidebar .teachnova-follow a.teachnova-follow-googleplus {
   background: transparent url('/assets/img/icon_off_googleplus.png') no-repeat top left;
}

#sidebar .teachnova-follow a:hover.teachnova-follow-googleplus {
   background: transparent url('/assets/img/icon_on_googleplus.png') no-repeat top left;
}

#sidebar .teachnova-follow a.teachnova-follow-rss {
   background: transparent url('/assets/img/icon_off_rss.png') no-repeat top left;
}

#sidebar .teachnova-follow a:hover.teachnova-follow-rss {
   background: transparent url('/assets/img/icon_on_rss.png') no-repeat top left;
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }

.home-tab .entry-title a,
.home-tab .entry-title a:hover {
   text-decoration: none
}

.home-tab h4 {
   margin: 15px 0px 0px 0px;
}

.home-tab .entry-time {
   font-weight: bold;
}

.home a.more {
   display: block;
   width: 200px;
   text-align: center;
   padding: 4px 8px;
   margin: 10px auto 0px auto;
   background: #e1e2e3;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.home a.more:hover {
   text-decoration: none;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#content-info { }

div.teachnova-repeat-footer-bg {
   background: #233671 url('/assets/img/footer_repeat_bg.png') repeat-x left top;
}

div.teachnova-footer-bg {
   background: url('/assets/img/footer_bg.png') no-repeat left top;
}

div.teachnova-footer {
   color: #dde8fe;
   height: 100%;
}

.teachnova-footer {
   font-size: 0.9em;
   color: #fff;
}

.teachnova-footer a:hover {
   text-decoration: none;
}

.teachnova-footer a {
   text-transform: uppercase;
   color: #fff;
}

/* ==========================================================================
   Tematicas
   ========================================================================== */

div.tematicas-menu {
   margin: 0px 0px 10px 0px;
}

div.tematicas-menu a {
   display: block;
   width: 80px;
   height: 80px;
   float: left;
   background: white;
   border: 1px #ccc;
   padding: 4px;
   margin: 0px 14px 14px 0px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: 14px 14px 20px rgba(50, 50, 50, 0.40);
   -moz-box-shadow:    14px 14px 20px rgba(50, 50, 50, 0.40);
   box-shadow:         14px 14px 20px rgba(50, 50, 50, 0.40);
}

div.tematicas-menu a.unselected {
   -webkit-box-shadow: 14px 14px 20px rgba(50, 50, 50, 0.20);
   -moz-box-shadow:    14px 14px 20px rgba(50, 50, 50, 0.20);
   box-shadow:         14px 14px 20px rgba(50, 50, 50, 0.20);
}

/* ==========================================================================
   Tweets
   ========================================================================== */

#sidebar .xmt ul li.tweet_list {
   min-height: 60px;
   line-height: 14px;
   font-size: 0.8em;
}

#sidebar .xmt .tweet_avatar {
   margin: 4px 8px 0px 0px;
   padding: 0px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border: 0px;
}

/* ==========================================================================
   YouTube Mosaic
   ========================================================================== */

#yt-video-mosaic .modal-header h3 {
   line-height: 18px;
   font-size: 1em;
   font-weight: none;
}

#yt-video-mosaic .modal {
   width: 640px;
}

#yt-video-mosaic .yt-video {
   float: left;
   margin: 0px 20px 20px 0px;
}

#yt-video-mosaic .yt-video-name {
   font-size: 0.8em;
   color: #666;
   line-height: 12px;
   font-weight: bold;
   margin: 4px 0px 0px 0px;
}

#yt-video-mosaic .yt-video-views {
   font-size: 0.8em;
   color: #999;
   line-height: 12px;
}

/* ==========================================================================
   Plugin : CTC
   ========================================================================== */

.ctc a:hover {
   text-decoration: none;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* ==========================================================================
   Pestañas
   ========================================================================== */
.su-tabs {
   margin: 0 10px 10px 0;
}

.su-tabs-style-teachnova .su-tabs-nav {
   padding: 0px 5px 0px 0px;
   margin: 0;
   min-height: 30px;
   background: #E1E2E3;
   /* border-right: 5px solid #E1E2E3;
   border-top: 5px solid #E1E2E3;
   border-left: 5px solid #E1E2E3; */
   -webkit-border-radius: 5px 5px 0px 0px ;
   -moz-border-radius: 5px 5px 0px 0px ;
   border-radius: 5px 5px 0px 0px ;
}
.su-tabs-style-teachnova .su-tabs-nav span {
   display: block;
   float: right;
   padding: 10px 20px;
   margin-left: 5px;
   cursor: pointer;
   /* border-top: 1px solid #fff;
   border-right: 1px solid #fff;
   border-left: 1px solid #fff; */
   background: #E1E2E3;
}
.su-tabs-style-teachnova .su-tabs-nav span:hover { background: #f1f1f1 }
.su-tabs-style-teachnova .su-tabs-nav span.su-tabs-current { background: #fff }
.su-tabs-style-teachnova .su-tabs-pane {
   padding: 15px;
   border-right: 5px solid #E1E2E3;
   border-bottom: 5px solid #E1E2E3;
   border-left: 5px solid #E1E2E3;
   -webkit-border-radius: 0px 0px 5px 5px;
   -moz-border-radius: 0px 0px 5px 5px;
   border-radius: 0px 0px 5px 5px;
}



/* ==========================================================================
   Contacto
   ========================================================================== */
.contacto .page-header {
   background: #E1E2E3;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   padding: 5px 5px 5px 15px;
   margin: 0px 10px 10px 0px;
}

.contacto .page-header h1 {
   background: transparent url('/assets/img/icon_off_email.png') no-repeat top right;
   font-size: 1em;
   margin: 0;
   padding: 0;
   line-height: 34px;
   font-weight: normal;
}

.contacto p {
   margin-left: 5px;
}

.wpcf7 .teachnova-contact-form {
   margin-left: 15px;
}

.wpcf7 .teachnova-contact-form input.wpcf7-text,
.wpcf7 .teachnova-contact-form textarea.wpcf7-textarea {
   background: #E1E2E3;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   border: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   width: 100%;
}

.wpcf7 .teachnova-contact-form textarea.wpcf7-textarea {
   background: #E1E2E3;
}

.wpcf7 .teachnova-contact-form input.wpcf7-submit {
   background: #373738;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #fff;
   border: 0;
   padding: 5px 10px;
}

.su-heading.su-heading-style-underline {
   border: 0;
   margin: 0px 10px 5px 5px;
}

.su-heading.su-heading-style-underline .su-heading-shell {
   border-top: 0;
   border-bottom: 2px solid #E1E2E3;
   text-align: left;
   padding: 0px 0px 4px 0px;
   font-size: 1.2em;
}

.su-gmap {
   margin: 0;
}

.contact-map {
   width: 96%;
   height: 240px;
}

/* ==========================================================================
   Responsive Slider
   ========================================================================== */
.responsive-slider.flexslider {
   margin-bottom: 0px;
}

.slide {
   margin-right: 20px;
}

.responsive-slider.flexslider .flex-direction-nav li .next {
   right: 40px !important;
}

@media (min-width:980px){
}

@media (min-width:768px) and (max-width:979px){
   .slide {
      margin-right: 0px;
   }
   .responsive-slider.flexslider .flex-direction-nav li .next {
      right: 20px !important;
   }
}

@media (max-width:767px){
   .slide {
      margin-right: 0px;
   }
   .responsive-slider.flexslider .flex-direction-nav li .next {
      right: 20px !important;
   }
}

@media (max-width:480px){
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width:767px){
   .su-column {
      float: none;
      width: 100%;
   }
}

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}
